
div{
    margin: 0 auto;
    
}

.text{
    position: absolute;
    top: 0;
    width: 150vw;
}

.olhos{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1000;
    opacity: 0.2;
    
}

.olhos img{
    width: 100vw;
    height: 100vh;

}

.car{
    position: absolute;
    bottom: -30px;
    right: -100px;
    
    opacity: .5;
}

h3{
    position: fixed;
    bottom: 0;
    left: 0;
}

.eterno{
    margin-left: 100vw;
    width: 500rem;
    height: 100vh;
    z-index: -1001;
    background-image: url(assets/images/hi.jpg);
    background-repeat: repeat-x;
    opacity: .2;
}


.h4{
    position: fixed;
    transform: rotate(40deg);
    top: 80px;
    right: 0px;
}