/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/* VARIABLE */

:root{

    --text-font: 400 2.5rem 'Stick No Bills', sans-serif;
    --h-font: 600 3.5rem 'Stick No Bills', sans-serif;
    --letter-font: 400 3rem 'IM Fell DW Pica', serif;

    --text-color: rgb(10, 20, 10);
    --body-color: rgb(1, 10, 1);
    --base-color:  rgb(235, 255, 240);
    --button: rgb(212, 253, 117);
    --show-content: rebg(100, 100, 100);

    --header-height: 4.5rem;
}

/* BASE */

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font: var(--text-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}


/* LAYOUT */

.master-container{
    background: var(--base-color);
    margin-left: 4.5rem;
    margin-right: 4.5rem;

}

.container{
    margin-left: 7rem;
    margin-right: 7rem;

}

.flex{
    display: flex;
    align-items: center;
}

.section{
    
    text-align: center;
}

.tittle{
    font: var(--text-font);
    font-size: 4rem;
    font-weight: 600;

    margin: 3rem 0;
}

.divider{
    margin: 0 auto;
    width: 90%;
    height: 0.1rem;
    background: black;
}


/* HEADER */

.toggle{
    display: none;
    visibility: hidden;
}

#header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000;
}

#header .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header.sticky{
    padding: 5px 100px;
    background: #fff;
    
}

#header .logo{
    position: relative;
    font-weight: 600;
    font: var(--h-font);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

#header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    position: relative;
    list-style: none;
}

#header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
#header ul li:hover {
    background-color: #ccc;
    transition: 0.8s;
    border-radius: 2em;
}


#header.sticky .logo, #header.sticky ul li a{
    color: #000;

}


.puxarconteudo{
    transition: 3s;
}



/* LOGO */

.logo{
    align-items: center;
    justify-content: center;    
    display: flex;
    font: var(--h-font);
    font-weight: 600;
}

.logo img{
    height: 5rem;
    width: 100%;
}


/* MENU */

.menu{
    font: var(--text-font);
    font-weight: 400;
}

ul li{
    margin-right: 2rem; 
}

ul li:last-child{
    margin-right: 0;
}

/* HOME */


#home{
    height: 100vh;
}
#home img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4);
}


/* Inpiration */

#inspiration{
    padding: 8rem 7rem;
}

.ocultar {
    background: var(--button);
    cursor:pointer;
    font-weight:bold;
    font-size: 6rem; /* edite tamanho da fonte */
    color: black;  /* edite cor do link */
    padding:1rem;
    margin:0 auto;
    /* border: 1px solid rgb(1, 10, 1); */
    border-radius: 1rem;

    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d7a 5%, #74866f 100%);
	background-color:#768d7d;
	border:1px solid #7ec27a;
	text-shadow:0px -1px 0px #2b665e;

    transition: 0.3s;
}
.mostrar{
    padding: 4rem 0;
    font: var(--letter-font);
    background: var(--show-content);
}

.button{
    margin-bottom: 5rem;
    
}

.button-show{
    margin-top: -5rem;
}

.ocultar:hover{
    filter: brightness(1.2);
}


/* ABOUT */

#about{
    padding-top: 4rem;
}

.about{
    text-align: center;
    font: var(--letter-font);
}

.about p{
    line-height: 4rem;
}

/* To-top */

.to-top.show{
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    margin: 5rem;
    font-size: 6rem;
    color: black;
    cursor: pointer;
}


